.order-table {
    grid-column: span 3;
    border-radius: 12px;
    padding: 1rem;
}

.order-table td {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
}

.order-profile-img {
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.order-table-row {
    height: 5vh;
}

.order-table-row:last-child {
    border-bottom: none;
}

.order-table th {
  height: 4vh;
}

.dark-pagination > ul > li > button {
    color: white;
}