@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-text-color: #000;
    --grey-text-active-color: rgba(0, 0, 0, 0.4);
    --grey-text-inactive-color: rgba(0, 0, 0, 0.2);
    --grey-clicked-color: rgba(0, 0, 0, 0.06);
    --bg-dark: #1C1C1C;
    --bg-dark-charts: rgba(70,70,70, 0.3) 
    
}
  

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

 * {
    font-family: Inter;
    font-weight: 400;
    font-style: Inter;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
 }