.nav-wrapper {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-clicked-color);
    align-items: center;
}

.left-nav {
    display: flex !important;
    align-items: center !important;
}

.right-nav {
    display: flex;
    align-items: center;
}

.nav-search-input {
    border-radius: 10px;
    outline: none;
    background-color: var(--grey-clicked-color);
    border: 0;
    padding: 5px;
    outline: none;
}